body {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
em,
strong,
pre,
code {
  padding: 0;
  margin: 0;
  line-height: 1em;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
}
table {
  font-size: inherit;
  font: 100%;
}
img {
  border: 0;
}
p {
  margin: 1em 0;
}
body {
  background: #4c4846 url(../img/bg.gif) repeat 0 0;
}
div.top {
  width: 980px;
  min-height: 2em;
}
.container {
  width: 980px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}
.container .iphone-gallery {
  background: url(../img/iphone.png) no-repeat top center;
  width: 35em;
  height: 35em;
}
.container .iphone-gallery ul #pikaname li img {
  width: 4em;
  height: 10em;
}
.container .text-container {
  position: absolute;
  left: 30em;
  top: 1em;
}
.container .text-container h1 {
  width: 400px;
  height: 110px;
  margin: 0 0 0 20px;
  font-family: 'Dosis', sans-serif;
  font-weight: 800;
  font-size: 80px;
  color: #33598F;
}
.container .text-container .description {
  width: 400px;
  margin: 0 0 0 20px;
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
}
.container .text-container ul {
  margin-top: 40px;
  width: 400px;
}
.container .text-container ul li {
  margin: 0 0 14px;
  font: 17px/20px "Dosis", sans-serif;
  letter-spacing: 0.04em;
  font-weight: 500;
}
.container .text-container .map-image {
  height: 15em;
  width: 15em;
  float: right;
  background: url(../img/map-with-pin.png) no-repeat;
  background-size: 100%;
  transform: rotate(30deg);
  -ms-transform: rotate(-30deg);
  /* IE 9 */

  -webkit-transform: rotate(-30deg);
  /* Safari and Chrome */

  -o-transform: rotate(-30deg);
  /* Opera */

  -moz-transform: rotate(-30deg);
  /* Firefox */

}
.container .text-container .appStore {
  background: url(../img/appStore.png) no-repeat;
  background-size: 100%;
  width: 140px;
  height: 60px;
  margin-top: 90px;
  float: left;
}
.footer {
  padding: 25px 0;
  width: 100%;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  box-shadow: inset 0 0 8px 10px rgba(0, 0, 0, 0.8);
  background: #202020 url(../img/bkg-pattern-blackDenim.jpg) 0 0 repeat;
}
.footer ul {
  list-style: none;
  width: 80%;
  margin: auto;
}
.footer ul li {
  float: left;
  padding-left: 6em;
}
.footer .trademark {
  text-align: center;
  font: 14px/20px "Terminal Dosis", sans-serif;
  color: #666;
}
/**
 * PikaChoose photo gallery css
 */
.pikachoose {
  width: 520px;
  margin: 0 auto;
}
.pika-stage {
  position: absolute;
  width: 230px;
  height: 350px;
  top: 96px;
  left: 142px;
}
.pika-stage .pika-aniwrap,
.pika-stage .main-image {
  position: absolute;
  top: 0;
  left: 0;
}
.pika-stage .pika-aniwrap {
  width: 100%;
}
.pika-stage .pika-ani {
  position: relative;
  display: none;
  z-index: 2;
  margin: 0 auto;
}
.pika-stage img {
  border: 0;
  height: 100%;
  width: 100%;
}
.pika-textnav,
.pika-imgnav,
.pick-counter {
  display: none;
}
#pikame {
  display: none;
}
